
<div class="container-fluid d-flex flex-column">
  <header
    class="p-3 d-flex flex-row justify-content-between align-items-center"
  >
    <h1 class="flex-column">Marcas asociadas</h1>
  </header>

  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Marcas</a>
      <ng-template ngbNavContent>
        <brand-list></brand-list>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Crear nueva marca</a>
      <ng-template ngbNavContent>
        <brand-create></brand-create>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
